
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Yeni kategori ekkleme sayfası</h2>
<br />

<form class="form-group" method="post">
    <input type="text" placeholder="kategori adı" class="form-control" name="CategoryName" />
    <br />
    <input type="text" placeholder="Açıklama girin" class="form-control" name="CategoryDescription" />
    <br />
    <button class="btn btn-primary">Ekle</button>

</form>