
@using EntityLayer.Concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />


<table class="table table-bordered">
    ,

    <tr class="table table-secondary" >
        <th>ID</th>
        <th>Adı</th>
        <th>Durum</th>

    </tr>
    @foreach (var item in Model)
    {

        <tr>

            <td style="background-color:aqua">@item.CategoryID</td>
            <td style="background-color:greenyellow">@item.CategoryName</td>
            <td style="background-color:orangered">@item.CategoryStatus</td>

        </tr>

    }


</table>
