
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




 
          
<div class="card text-white bg-warning" style="width:150px;height:auto">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title"> @ViewBag.catCount</h5>
       
    </div>



